<a href="https://colab.research.google.com/github/Mohan-Sai-Yeswanth/AI-Face-Detection/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
conn.execute('''CREATE TABLE IF NOT EXISTS mytable(id INTEGER PRIMARY KEY,name TEXT,age INTEGER,gender TEXT);''')
conn.execute("INSERT INTO mytable (name, age, gender) VALUES ('Mohan', 19, 'male')")
conn.execute("INSERT INTO mytable (name, age, gender) VALUES ('sai', 30, 'male')")
conn.execute("INSERT INTO mytable (name, age, gender) VALUES ('yeswanth', 20, 'male')")
conn.execute("INSERT INTO mytable (name, age, gender) VALUES ('yash', 25, 'male')")
conn.execute("INSERT INTO mytable (name, age, gender) VALUES ('greesy', 18, 'female')")
conn.commit()
result = conn.execute("SELECT * FROM mytable")
for row in result:
    print(row)
conn.execute("UPDATE mytable SET age = 26 WHERE name = 'yeswanth'")
conn.commit()
result = conn.execute("SELECT * FROM mytable WHERE name = 'greesy'")
row = result.fetchone()
print(row)
conn.execute("DELETE FROM mytable WHERE name = 'sai'")
conn.commit()
result = conn.execute("SELECT * FROM mytable WHERE age = 19")
for row in result:
    print(row)
conn.close()

(1, 'Alice', 26, 'female')
(2, 'Bob', 30, 'male')
(4, 'David', 35, 'male')
(5, 'Eve', 28, 'female')
(6, 'Mohan', 19, 'male')
(7, 'sai', 30, 'male')
(8, 'yeswanth', 20, 'male')
(9, 'yash', 25, 'male')
(10, 'greesy', 18, 'female')
(10, 'greesy', 18, 'female')
(6, 'Mohan', 19, 'male')